/* footer.css */

footer {
  background-color: #3498db;
  /* padding: 20px 0; */
  color: #ecf0f1;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Set a higher z-index to ensure it's on top */
}

p {
  margin: 0;
  font-size: 14px;
}
