.payment-reports-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-reports-container h2 {
  text-align: center;
  color: #333;
}

.table-container {
  margin-top: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-container th {
  background-color: #f2f2f2;
}

.loading-message {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #666;
}

/* .login-message {
  text-align: center;
  margin-top: 20px;
}

.login-link {
  color: #007bff;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
} */

.login-message p {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px; /* Increase font size */
}

.login-link {
  color: #007bff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #0056b3;
}
